@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    --darkBlue: #1A1E29;
    --blue: #132D46;
    --gray: #6A6E79;
    --white: #FFFFFF;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 40px;
    background-color: var(--darkBlue);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#headMenu > div > img{
    height: 20px;
    margin-right: 5px;
}
#headMenu{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-evenly;
}
#headMenu > div > a{
    margin-bottom: 5px;
    color:white;
}
#headMenu > div > a {
    color: white;
    position: relative; 
}

#headMenu > div > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 0;
    height: 2px; 
    background-color: var(--white);
    transition: width 0.3s ease; 
}

#headMenu > div > a:hover::after {
    width: 100%; 
    
}
#icons{
    margin-right: 20px;
}
#icons > a > img{
    height: 30px;
}
main{
    background-color: var(--blue);
    height: calc(100% - 80px);
    padding: 20px 0px ;
    background-image: url('./assets/vmushaobt\(ara\).jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    backdrop-filter: blur(10px);
}

#abUs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#abUs > h1{
    margin: 0;
    color: var(--white);
    display: inline;
}
#abUs > img{
    height: 500px;
}
#abUs > h1:nth-child(2){
    color: orange;
}
#navi > a{
    color: var(--white);
}
#navi{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}
#navi > a {
    color: var(--white);
    position: relative; 
}
#navi > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 0;
    height: 2px; 
    background-color: var(--white);
    transition: width 0.3s ease; 
}

#navi > a:hover::after {
    width: 100%;
}

#welcome{
    width: 30%;
    margin-top: 5%;
    color: var(--white);
}
button{
    height: 40px;
    width: 190px;
    border-radius: 80px;
    background-color: #406180a2;
    color: var(--white);
    border: 0;
    transition: 0.3s;
}
button > p {
    margin: 0;
}
button:hover{
    border: 2px solid var(--gray);
    background-color: #406180;
}
button:active{
    scale: 0.95;
}
#welcome > h1{
    font-size: 4rem;
}
main > div > img{
    height: 30%;
}
#pers{
    height: 90%;
    filter: opacity(0.9) blur(3px);
    padding-top: 0px;
}
#halfMain{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-around;
}
#boxes{
    height: 30%;
    display: flex;
    justify-content: space-around;
}
.box{
    height: 100%;
    width: 25%;
    padding: 0 10px 0 10px;
    color: white;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}
.box:nth-child(1){
    background-color: var(--gray);
}
.box:nth-child(2){
    background-color: #2e5579;
}
.box:nth-child(4){
    background-color:#3d4866;
}
.box:nth-child(3){
    background-color: #5570b9;
}
.box > h1{
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
.add {
    text-align: center;
}
.box > img {
    height: 50%;
}
.expanded {
    width: 100% !important;
}

.expanded .expanded-content {
    display: block;
    width: 50%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
}

.expanded .expanded-content p {
    margin: 0;
}

.expanded .close-btn {
    cursor: pointer;
    font-size: 20px;
    color: red;
}
.expanded-header {
    justify-content: flex-start;
}

.expanded-header #headMenu {
    margin-left: 20px; 
}

.expanded-header #navi {
    margin-right: auto; 
}
.box > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box > div > img {
    height: 50%;
}
.box > div > h1 {
    font-size: 1rem;
    text-align: center;
}
::-webkit-scrollbar {
    width: 8px;
    transition: 0.4s;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    transition: 0.4s;

}

::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--gray);
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--gray);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
#mo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#show{
    height: 40px;
}
@media screen and (max-width: 1330px) {
    #butts {
        display: flex;
        width: 100%;
    }
    #welcome > h1 {
        margin-bottom: 0px;
    }
    button{
        width: 190px;
    }
    #headMenu{
        width: 35%;
    }
    #language-selector > button {
        width: 110px;
    }
}
@media  screen and (max-width: 720px) {
    body {
        overflow-x: hidden;
    }

    #headMenu > div > a {
        font-size: 13px;
    }

    #navi > a {
        font-size: 13px;
    }

    #headMenu {
        width: 22%;
    }

    #navi {
        width: 19%;
    }

    #welcome > h1 {
        margin-top: 0px;
    }

    #language-selector > button {
        width: 75px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0px;
    }

    .box > h1 {
        font-size: 1rem;
    }

    .box {
        width: calc(50% - 20px); 
        margin: 10px;
    }

    #halfMain {
        padding: 20px;
        width: 40%;
        justify-content: flex-start;
    }
}
@media screen and (max-width: 735px) {
    #boxes{
        display: block;
        margin: 0;
        padding: 0;
    }
    .box{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width: 576px) {
    #butts {
        justify-content: space-around;
    }

    #halfMain {
        width: 90%;
        display: flex;
        height: 30%;
        display: block;
    }

    button {
        width: 110px;
    }

    #welcome,
    #welcome > h1 {
        margin-top: 0px;
    }

    #welcome > h1 {
        font-size: 2rem;
        text-align: center;
    }

    .box >  img {
        width: 50%;
    }

    #headMenu > div > a {
        font-size: 10px;
    }

    #headMenu {
        width: 40%;
    }

    #navi {
        width: 25%;
    }

    #navi > a {
        font-size: 10px;
    }

    #language-selector {
        width: 120px;
        display: flex;
        justify-content: center;
    }

    #language-selector > button {
        width: 50px;
        display: flex;
        align-items: center;
    }

    #language-selector > button > p {
        font-size: 10px;
    }
    .box.expanded > p{
        font-size: 13px;
        padding: 8px;
    }
    .box.expanded img{
        width: 100px;
    }
    .box.expanded > div{
        padding: 10px;
    }
}
