@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    --darkBlue: #1A1E29;
    --blue: #132D46;
    --gray: #6A6E79;
    --white: #ffffff;
}
body{
    box-sizing: border-box;
    background-color: var(--darkBlue);
    height: 70vh; 
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}
main{
    width: 80%;
}
#team {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.member > img {
    width: 300px;
    border-radius: 150px;
}
span.member {
    cursor: pointer; 
    transition: transform 0.3s ease, filter 0.3s ease;
}
span.member.enlarged {
    transform: scale(1.5); 
    z-index: 1; 
}
span.blur {
    filter: blur(5px); 
}
@media screen and (max-width: 1240px){
    #team{
        height: 620px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}