@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    --darkBlue: #1A1E29;
    --blue: #132D46;
    --gray: #6A6E79;
    --white: #FFFFFF;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: var(--darkBlue);
}
h1 {
    color: var(--gray);
    text-align: center;
    margin: 0;
}
main{
    height: calc(100vh - 39px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.boxes{
    width: 35%;
    height: 35%;
    background-color: #6A6E79;
    border-radius: 40px;
    padding: 9px;
    transition: 0.3s;
}
.boxes > h1 {
    text-align: center;
    color: var(--white);
}
.boxes:hover{
    scale: 1.01;
    color: #6a6e797c;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.boxes:active{
    scale:0.97;
}